

h1 {
	font-family: 'Source Sans Pro', sans-serif; 
    margin-left:-23px;
    margin-top: -5vw;
    font-size: 15vw;
    font-weight: bold;
    color: #00ADAD;
    line-height: 14vw
}

h2 {
    font-family: 'Source Sans Pro', sans-serif; 
    text-align: center;
    font-size: 3vw;
    font-weight: bold;
    color: #BE2227;
    line-height: 4vw
}

p{
    font-family: 'Source Sans Pro', sans-serif;  

    font-size: 1.6em;
    color: #00ADAD;
    line-height: 1.8em;


}

img {

    max-width: 100%;
    height: auto;
}

head {
    background: blue


}
body {
    background-color: white

}

.container {
    position: relative;
}

.center {
    position: absolute;
    font-family: 'Source Sans Pro', sans-serif, bold; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vw;
    font-weight: bold;
    color:white;
}


.floating-box {
   vertical-align: baseline;
   display: inline-block;
   width: 450px;
   height: 500px;
   margin-top: 200px;
   margin-right: 30px;
   margin-left: 100px;
}


.large-margin {
    vertical-align: baseline;
    display: inline-block;
    width: 900px;
    height: 500px;
    margin-top: 50px;
    margin-right: 30px;
    margin-left: 150px;
}



#icon {
    max-width: 4%;
    height: auto;
    margin-right: 1vw;
}

img { 
    width: 100%;
    height: auto;

}


a{
    color: #BE2227;
    font-family: 'Source Sans Pro', sans-serif;  
    text-decoration: none;

}

footer {
    display: block;
    height: 170px;
    min-height: 170px;
    position: relative;
    padding: 15px;
    background-color: #00ADAD

}



ul {

    font-family: 'Source Sans Pro', sans-serif;  
    color:white;
}



iframe {
    border:15px solid #BE2227;
}



#footertitle {
    margin-left: 20px;
    font-size: 25px;
    color: white;
    font-weight: bold;
}


